<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles-productCongrats.css">

</head>
<!-- Header -->
<%- include("./partials/header.ejs") %>

    <main class="congrats">
        <div class="congratsMessage">
            <label>PRODUCTO EDITADO</label>
        </div>
        <section class="productDetails">
            <div class="products">
                <h1 class="Nombre-Producto"> <%=items.name%> </h1>
                <article>


                    <div class="imagen-producto"><img src=<%=items.imgPath%> alt="Cafetera" class="product_img"></div>

                    <div class="main-articlepd">
                        <br>
                        <p class="price">Precio $ <%=items.price%></p>
                        <p class="descuento">Descuento % <%=items.discount%></p>
                        <p class="total">Precio Total $ <%=items.price-items.discount%> </p>
                        <br>
                        <p class="descripcion"><%=items.description%></p>
                        <br>
                        <br>
                        <div class="spinnerQty">
                            <button class="quantityMas">+</button>
                            <INPUT TYPE="NUMBER" MIN="0" MAX="100" STEP="1" VALUE="1" class="inputSpinner">
                            <button class="quantityMenos">-</button>
                            <button type="reset" name="borrar"><i class="fas fa-times-circle"></i></button>
                        </div>
                        <br>
                        <div>Disponible en stock: 15</div>
                        <br><br>
                        <div class="comprar">
                            <form action="/shopping-cart/<%=items.id%>" method="get">
                                <button class="btncomprar">COMPRAR AHORA </button>
                            </form>

                        </div>
                        <br><br>
                        <div class="MantenimientoProducto">
                          
                            <form action="/admin/edit-product/<%=items.id%>" method="GET" style="display: inline-flex">
                                <button type="submit" class="btn-edit">EDITAR</button>
                                
                            </form>
                            
                            
                            <form action="/admin/delete/<%=items.id%>?_method=delete" method="POST" enctype="multipart/form-data" style="display: inline-flex">
                                <button type="submit" class="btn-delete">ELIMINAR</button>
                            </form>
                        </div>

                    </div>

                </article>
            </div>
        </section>
        <br>
        <br>
       
    </main>
    
    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>
    
</body>

</html>