<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles-productEdition.css">

</head>
<!-- Header -->
<%- include("./partials/header.ejs") %>

<main class="editProduct">
    <div class="editProduct-box">
        <div class="editProduct-banner">
            <div class="editProduct-button">
                <a href="/product/edit-product">Editar producto</a>
            </div>
        </div>



        <form action="/products/edit-congrats" method="get">

            <div class="form-productCreation">
                <div class="productNameField">
                    <label>Nombre del producto</label><input type="text" required name="name" value=<%=items.name%>
                        </input> </div> <div class="Descripción del tipo de café">
                    <label>Descripción del tipo de café</label><input type="text" name="description"
                        value=<%=items.description%> </input> </div> <div class="size">
                    <label>Tamaño del producto</label><input type="text" name="size" value=<%=items.size%> </input>
                        </div> <div class="price">
                    <label>Precio del producto</label><input type="text" name="price" value=<%=items.price%> </input>
                        </div> 
                        <div class="discount">
                            <label>Agregue % de descuento del producto</label><input type="discount" name="price" value=<%=items.discount%> </input>
                                </div> 
                        <div class="offer">
                            <label>¿Está en oferta?</label>
                            <div class="offerButtons">
                                <input type="radio" name="affirmative" value="yes">
                                Yes 
                                </input>
        
                                <input type="radio" name="negative" value="no">
                                No 
                                </input>
                            </div>
                        </div>
                        <div>
                    <p>
                        Sube imagenes del producto(máximo 6):
                        <input type="file" name="archivossubidos[]" multiple accept="image/png, .jpeg, .jpg, image/gif"
                            value=<%=items.imgPath%> </input> </p> </div> <div class="category">
                        <label>Elegir categoría</label>
                        <select name="selectCategory">
                            <option value="value1">Café</option>
                            <option value="value2">Cafeteras</option>
                            <option value="value3">Accesorios</option>
                        </select>
                </div>
                <div class="buttonBox">
                    <div class="editButton">
                        <button type="submit"><strong>Editar</strong></button>
                    </div>
                </div>

            </div>
    </div>


    </form>
</main>

<!-- Footer -->
<%- include("./partials/footer.ejs") %>

</body>

</html>