<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles-register.css">

</head>
<!-- Header -->
<%- include("./partials/header.ejs") %>
<main class="register">
    <div class="register-login-box">
        <div class="register-login-banner">
            <div class="register-login-button">
                <strong>Editar Usuario</strong>
            </div>
        </div>

        <form action="/user/updateUserProfile?_method=PUT" method="post" enctype="multipart/form-data">

            <div class="form-login-register">
                <div class="nameField">
                    <label>Nombre</label><input type="text" name="name" placeholder="Solo caracteres abc"
                    value="<%=profile.name%>">
                    <% if (locals.errors && errors.name) { %>
                    <div class="data-error">
                        <%= errors.name.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="lastnameField">
                    <label>Apellido</label><input type="text" name="lastname" placeholder="Solo caracteres abc"
                    value="<%=profile.lastname%>">
                    <% if (locals.errors && errors.lastname) { %>
                    <div class="data-error">
                        <%= errors.lastname.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="emailField">
                    <label>Correo electrónico</label><input type="text" name="email" placeholder="minombre@xxxx.com.xx"
                    value="<%=profile.email%>">
                    <% if (locals.errors && errors.email) { %>
                    <div class="data-error">
                        <%= errors.email.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="passwordField">
                    <label>Contraseña</label><input type="password" name="password"
                        placeholder="Mínimo 6 carateres, una letra en mayúscula, un número y un caracter especial" value="******">
                    <% if (locals.errors && errors.password) { %>
                    <div class="data-error">
                        <%= errors.password.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="confirmPasswordField">
                    <label>Confirmar contraseña</label><input type="password" name="confirmPassword"
                        placeholder="Repite tu contraseña" value="******">
                    <% if (locals.errors && errors.confirmPassword) { %>
                    <div class="data-error">
                        <%= errors.confirmPassword.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="adminField">
                    <label>Administrador</label>
                    <div class="admin-input">
                        <div>
                            <input type="radio" name="admin" value="true"
                                <%= locals.oldData && locals.oldData.admin == "true" ? "checked": null %>
                                class="radio-inputs">
                            Si

                        </div>
                        <div>
                            <input type="radio" name="admin" value="false"
                                <%= locals.oldData && locals.oldData.admin == "false" ? "checked": null %>
                                class="radio-inputs">
                            No
                        </div>
                    </div>
                </div>
                <div class="avatarField">
                    <label>Avatar</label><input type="file" name="avatar">
                    <% if (locals.errors && errors.avatar) { %>
                        <div class="data-error">
                            <%= errors.avatar.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="buttonBox">
                    <div class="registerButton">
                        <button type="submit">Editar Usuario</button>
                    </div>
                </div>
            </div>
    </div>


    </form>
</main>

<!-- Footer -->
<%- include("./partials/footer.ejs") %>

</body>

</html>