<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles-login.css">

</head>
<!-- Header -->
<%- include("./partials/header.ejs") %>

<main class="login">
    <% if (locals.userCreated) { %>
        <div >
            <%= userCreated.name %>, Gracias por registrarte. 🎉🎉🎉
        </div>
        <br>
        <% } %>
    <div class="register-login-box">
        <div class="register-login-banner">
            <div class="register-login-button <%= locals.userCreated ? "hidden" : "" %>">
                <a href="/user/register">Registrarse</a>
            </div>
            <div class="register-login-button">
                <a href="/user/login"><strong>Iniciar sesión</strong> </a>
            </div>
        </div>

        

        <form action="/user/login" method="post">

            <div class="form-login-register">
                <div class="correoElectronicoField">
                    <label>Correo electrónico</label><input type="text"  name="email"
                        placeholder="minombre@xxxx.com.xx" value="<%= locals.oldData ? oldData.email: null %>"></input>
                        <% if (locals.errors && errors.email) { %>
                            <div class="data-error">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                </div>
                <div class="passwordField">
                    <label>Contraseña</label><input type="password" name="password"
                        placeholder="Escribe tu contraseña"></input>
                        <% if (locals.errors && errors.password) { %>
                            <div class="data-error">
                                <%= errors.password.msg %>
                            </div>
                            <% } %>
                </div>
                <div class="forgotPassword">
                    <label>Olvide mi contraseña<a href="/forgot-password"></a></label>
                </div>
                <div class="buttonBox">
                    <div class="loginButton">
                            <button type="submit">Iniciar sesión</button>
                    </div>
                </div>
            </div>
    </div>



    </form>
</main>

<!-- Footer -->
<%- include("./partials/footer.ejs") %>

</body>

</html>