<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles-userProfile.css">
<!-- Google Fonts -->

</head>
<!-- Header -->
<%- include("./partials/header.ejs") %>

    <main class="userProfile">

        <div class="card">
            <div class="img">
              <img src=<%= userLogged.imgPath%>>
            </div>
            <div class="infos">
              <div class="name">
                <h2><%= userLogged.name%> <%= userLogged.lastname%></h2>
                <h4><%= userLogged.email%></h4>
              </div>
        
              <ul class="stats">
                <li>
                  <h3>Rol:</h3>
                  <%if(userLogged.admin) { %>
                    <h4>Administrador</h4>
                <% }else{ %>
                    <h4>Invitado</h4>
                <%} %> 
                  
                </li>
               
              </ul>
              <div class="links">
                <a href="/user/editUserForm"><button class="follow">Editar Usuario</button></a>
                <a href="/user/closeSesion"><button class="view">Cerrar sesión</button></a>
              </div>
            </div>
          </div>
               
        <!-- <div class="container">
            <div class="card">
              <img src="<%= userLogged.imgPath%>" alt="Person" class="card__image">
              <br>
              <p class="card__name"><%= userLogged.name%></p>
              <div class="grid-container">
          
                <div class="grid-child-posts">
                    <%= userLogged.email%>
                </div>
                <br>
          
                <div class="grid-child-followers">
                    <%if(userLogged.admin) { %>
                        ADMINISTRADOR
                    <% }else{ %>
                        INVITADO
                    <%} %>      
                    
                </div>
          
              </div>
             <a href="/user/editUserForm" class="btn draw-border">Editar usuario</a>
              <form action="/user/closeSesion" method="GET" style="display: inline-flex">
                <button type="submit" class="btn draw-border">Cerrar_Sesión</button>
                                
            </form>
              
          
            </div> -->
            
            
    </main>
   
    
    <!-- Footer -->
    <%- include("./partials/footer.ejs") %> 
    
</body>

</html>