<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles-userProfile.css">
<!-- Google Fonts -->

</head>
<!-- Header -->
<%- include("./partials/header.ejs") %>

    <main class="userProfile">
               
        <div class="container">
            <div class="card">
              <img src="<%= userLogged.imgPath%>" alt="Person" class="card__image">
              <br>
              <p class="card__name"><%= userLogged.name%></p>
              <div class="grid-container">
          
                <div class="grid-child-posts">
                    <%= userLogged.email%>
                </div>
                <br>
          
                <div class="grid-child-followers">
                    <%if(userLogged.admin) { %>
                        ADMINISTRADOR
                    <% }else{ %>
                        INVITADO
                    <%} %>      
                    
                </div>
          
              </div>
            
              <form action="/user/closeSesion" method="GET" style="display: inline-flex">
                <button type="submit" class="btn draw-border">Cerrar_Sesión</button>
                                
            </form>
              
          
            </div>
            
    </main>
   
    
    <!-- Footer -->
    <%- include("./partials/footer.ejs") %> 
    
</body>

</html>